<p id="notice"><%= notice %></p>
<h1>Теги</h1>
<% tags = Tag.all.to_a %>
<% tags.sort! { |a,b| a.name.downcase <=> b.name.downcase } %>
<div class="tags-container">
  <% tags.each do |tag| %>
    <% photos_number = Photo.includes(:tags).where('tags.id' => tag.id).to_a.size.to_s %>
    <% image_path = Photo.includes(:tags).where('tags.id' => tag.id).first.image.to_s %>
    <span class="badge tag-index">
    <%= link_to image_tag(image_path, class: "image-responsive image-list image-tag"), image_path, class: "fancybox" %><br>
    <%= link_to ('<span class= "tag-name">' + tag.name + ' ' + '</span><span class= "badge photo-number">' + photos_number + '</span>').html_safe, tag_path(tag.id) %>
  </span>
  <% end %>
</div>



