p id="notice" = notice

div class="images-container"
  = render partial: 'shared/editor_on'
/- if current_admin
/  = render partial: 'shared/editor_on'
/- else
/  = render partial: 'shared/editor_off'
