// Place all the styles related to the information controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info {
  text-align: center;
  padding-top: 30px;
  font-family: "American Typewriter";
  font-size: 1.4vw;
  color: #f80909;
}

.info-phone {
  text-align: center;
  padding-top: 0px;
  font-family: "American Typewriter";
  font-size: 1.4vw;
  color: #f80909;
}